//@import "stitch";
//@import "compass";

//@import "stitch/patterns";

// I gather this file is a starting point for the project.
//@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_awesome";

// Include responsive Bootstrap styles
@import "compass_twitter_bootstrap_responsive";

@import "compass/css3";
@import "compass/layout";

// Include custom styles
@import "custom";



// sass.codeschool level 3 :  mixins

@mixin button {
	white-space: none;
}

.btn-a {
	@include: button;
}
@mixin box-sizing($x) {
	-webkit-box-sizing: $x;
	-moz-box-sizing: $x;
	box-sizing: $x;
}